<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="index.js"></script>

</head>
<body ng-app="market-app">
<div class="container" ng-controller="indexController">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#!/">Main page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/market">Products list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!/product_add">Add product</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <ng-view></ng-view>

    <script src="index.js"></script>
    <script src="market/market.js"></script>
    <script src="welcome/welcome.js"></script>
    <script src="product_editor/product_editor.js"></script>
    <script src="product_add/product_add.js"></script>
    <script src="cart/cart.js"></script>

<!--    <p></p>-->
<!--    <h3>Add product</h3>-->

<!--    <form novalidate ng-submit="createNewProduct()">-->
<!--        <div class="mb-3">-->
<!--            <label class="form-label">Title</label>-->
<!--            <input type="text" class="form-control" ng-model="newProduct.title">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label class="form-label">Cost</label>-->
<!--            <input type="text" class="form-control" ng-model="newProduct.cost">-->
<!--        </div>-->
<!--        <select class="form-select" ng-model="newProduct.categoryTitle">-->
<!--            <option value="Food">Food</option>-->
<!--        </select>-->
<!--        <p></p>-->
<!--        <button type="submit" class="btn btn-primary" ng-click="addNewProduct(newProduct)">Add</button>-->
<!--    </form>-->

</div>
</body>
</html>